/* @import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@600&family=Bree+Serif&display=swap'); */

* {
    margin: 0;
    padding: 0;
}

:root {
    --navbar-height: 59px;
}

#navbar {

    display: flex;
    align-items: center;
}

#navbar{
    position: relative;
} 
#navbar ul{
    display: flex;
    font-family:sans-serif;

}

#logo {
    margin: 40px 40px;
}
#logo img{
    height: 60px;
    margin: 4px 8px;
    border-radius: 30px;
}



#navbar ul li {
        list-style: none;
        font-size: 1.3rem;
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}

#navbar ul li a {
    color: white;
    display: block;
    padding: 10px 10px;
    border-radius: 20px;
    text-decoration: none;

}

#navbar ul li a :hover{
    color: black;
    background-color: white; 
}  
#home{
    display: flex;
    flex-direction: column;
    height: 400px;
    padding:3px 200px;
    justify-content: center;
    align-items: center;
}

#home::before{
    content: "";
    position: absolute;
    background-image: url('/Images/food.jpg') ;
    height: 50%;
    width: 50%;
    z-index: -1;
    opacity: 0.80; 
}

#home h1{
    text-align: center;
}
#home p{
    color: white;
    text-align: center;
    font-size: 1.1rem;
}
.h-primary{
    color: rgb(43, 180, 30);
     font-size: 2rem;
     padding:12px;
     font-family: Verdana, Tahoma, sans-serif;
}

.h-secondary{
    font-size: 2.8rem;
    padding:10px;
}

.btn{
    border:2px solid white;
    padding:6px 20px ;
    margin: 10px;
    border-radius: 25px;
    background-color: rgba(86, 170, 75, 0.74);
    margin: 15px;
    font-size: 1.5rem;
    cursor: pointer;
}
.center{
    text-align: center;
}
#services{
    margin:30px;
    display: flex;
}

#services .box {
    border:2px solid red;
}  

#services .box img{
    height: 130px;
    display: block;
    margin: auto;
}
